@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

/* Main------------------------------------------------------------------------*/
body {
    background-color:#00132c;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-weight:normal;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
}
.container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    background:#FFFFFF;
    font-size: 1.2em;
    position: relative;
}

#sidenav {
    width: 220px;
	height: 100%;
    position: fixed; /*--Fix the sidenav to stay in one spot--*/
    float: left; /*--Keeps sidenav into place when Fixed positioning fails--*/
	padding: 0 10px 10px;
	background-color: #00132c;
	border-right-width:5px;
	border-right-color:#ff2f2f;
	border-right-style:solid;
}
#content {
    float: right; /*--Keeps content to the right side--*/
    width: 700px;
    padding: 0 10px 10px;
}

*html #sidenav {
    position: absolute;
    left: expression( ( 0   ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) )   'px' );
    top: expression( ( 0   ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) )   'px' );
}

p {
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 12px;
	font-size : 12px;
	color:#666666;
	line-height: 12px;
	
}

h1 {
	text-align: left;
	text-decoration : none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size : 10px;
	color:#333333;
} 

h2 {
	text-align: left;
	text-decoration : none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size : 11px;
	color:#333333;
} 

h3 {
	text-align: left;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size : 12px;
	color:#333333;
} 

h4 {
	text-align: left;
	text-decoration : none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size : 13px;
	color:#333333;
	line-height:normal;
} 


h5 {
	text-align: left;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;;
	font-weight: bold;
	font-size: 14px;
	color:#333333;
	line-height: 16px;
} 

h6 {
	text-align: left;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;;
	font-weight: bold;
	font-size: 15px;
	color: #333333;;
	line-height: 17px;
}

h7 {
	text-align: left;
	text-decoration : none;
	font-family: Arial, Helvetica, sans-serif;;
	font-weight:normal;
	font-size : 16px;
	font-style:italic;
	color:#333333;
}

/* Navigation------------------------------------------------------------------------*/
#logotype {
	height:192px;
	background-color:#00132c;
	padding-top:80px;	
}

#menu {
	background-color:#00132c;
	height: 300px;
	border-top-width:1px;
	border-top-color:#4a82a5;
	border-top-style:dashed;
	padding-top:20px;
	border-bottom-width:1px;
	border-bottom-color:#4a82a5;
	border-bottom-style:dashed;
	padding-bottom:20px;
}

.menuHome {
	width:225px;
	height:30px;
	background-image:url(images/menu/home.png);
	background-repeat:no-repeat;
	background-position:left;
}

.menuHome:hover {
	width:225px;
	height:30px;
	background-image:url(images/menu/home_hover.png);
	background-repeat:no-repeat;
	background-position:right;
}

.menuAbout {
	width:225px;
	height:30px;
	background-image:url(images/menu/about_us.png);
	background-repeat:no-repeat;
	background-position:left;
}

.menuAbout:hover {
	width:225px;
	height:30px;
	background-image:url(images/menu/about_us_hover.png);
	background-repeat:no-repeat;
	background-position:right;
}

.menuQuotes {
	width:225px;
	height:30px;
	background-image:url(images/menu/quotes.png);
	background-repeat:no-repeat;
	background-position:left;
}

.menuQuotes:hover {
	width:225px;
	height:30px;
	background-image:url(images/menu/quotes_hover.png);
	background-repeat:no-repeat;
	background-position:right;
}

.menuPortfolio {
	width:225px;
	height:30px;
	background-image:url(images/menu/portfolio.png);
	background-repeat:no-repeat;
	background-position:left;
}

.menuPortfolio:hover {
	width:225px;
	height:30px;
	background-image:url(images/menu/portfolio_hover.png);
	background-repeat:no-repeat;
	background-position:right;
}

.menuApparel {
	width:225px;
	height:30px;
	background-image:url(images/menu/apparel_options.png);
	background-repeat:no-repeat;
	background-position:left;
}

.menuApparel:hover {
	width:225px;
	height:30px;
	background-image:url(images/menu/apparel_options_hover.png);
	background-repeat:no-repeat;
	background-position:right;
}

.menuScreen {
	width:225px;
	height:30px;
	background-image:url(images/menu/screen_printing.png);
	background-repeat:no-repeat;
	background-position:left;
}

.menuScreen:hover {
	width:225px;
	height:30px;
	background-image:url(images/menu/screen_printing_hover.png);
	background-repeat:no-repeat;
	background-position:right;
}

.menuFAQ {
	width:225px;
	height:30px;
	background-image:url(images/menu/faq.png);
	background-repeat:no-repeat;
	background-position:left;
}

.menuFAQ:hover {
	width:225px;
	height:30px;
	background-image:url(images/menu/faq_hover.png);
	background-repeat:no-repeat;
	background-position:right;
}

.menuContact {
	width:225px;
	height:30px;
	background-image:url(images/menu/contact_us.png);
	background-repeat:no-repeat;
	background-position:left;
}

.menuContact:hover {
	width:225px;
	height:30px;
	background-image:url(images/menu/contact_us_hover.png);
	background-repeat:no-repeat;
	background-position:right;
}

.menuWhats {
	width:225px;
	height:30px;
	background-image:url(images/menu/whats_new.png);
	background-repeat:no-repeat;
	background-position:left;
}

.menuWhats:hover {
	width:225px;
	height:30px;
	background-image:url(images/menu/whats_new_hover.png);
	background-repeat:no-repeat;
	background-position:right;
}

.menuFacility {
	width:225px;
	height:30px;
	background-image:url(images/menu/facility.png);
	background-repeat:no-repeat;
	background-position:left;
}

.menuFacility:hover {
	width:225px;
	height:30px;
	background-image:url(images/menu/facility_hover.png);
	background-repeat:no-repeat;
	background-position:right;
}

/* Home------------------------------------------------------------------------*/
#home {
	width: 650px;
	background-color:#FFFFFF;
	padding-top:75px;
	padding-left: 25px;
	height:  850px;
	margin-bottom: 50px;
}

#contact {
	width: 650px;
	padding-bottom: 75px;
	border-bottom-width: 1px;
	border-bottom-color:#CCCCCC;
	border-bottom-style:dashed;
	position: relative;
}

.contactList {	
	margin-top: -40px;
	width: 175px;
	height: 35px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-weight: bold;
	font-size : 14px;
	color:#414141;
	position: absolute;
	left: 475px;
}	

.contactList a {	
	font-family:Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-weight: bold;
	font-size : 14px;
	color:#414141;
}

#recentWork {	
	font-family:Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-size : 10px;
	color:#6f6f6f;
	line-height: 12px;
	top: 200px;
	width: 650px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-color:#CCCCCC;
	border-bottom-style:dashed;
	position: absolute;
}


#news {	
	top: 500px;
	width: 650px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-color:#CCCCCC;
	border-bottom-style:dashed;
	position: absolute;
}

#email {
	width: 650px;
	top: 650px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color:#CCCCCC;
	border-bottom-style:dashed;
	position: absolute;
}

#email a {
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 14px;
	line-height: 16px;
	color:#414141;
	text-decoration: none;
}

#phone {
	width: 650px;
	top:  725px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-color:#CCCCCC;
	border-bottom-style:dashed;
	position: absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 14px;
	line-height: 16px;
	color:#414141;
}

#mail {
	width: 650px;
	top: 800px;
	position: absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 14px;
	color: #414141;
	bottom-margin: 50px;
}

#quote_graphic {
	position: relative;
	left: 375px;
	top: -50px;
}

/* About Us------------------------------------------------------------------------*/
#about_us_container {
	width: 850px;
	background-color: #FFFFFF;
	padding-top: 20px;
	margin-bottom: 50px;
}

#about_us {
	width: 650px;
	background-color: #FFFFFF;
	padding-left: 25px;
	padding-top: 75px;
}

/* Quotes------------------------------------------------------------------------*/
#about_us_container {
	width: 850px;
	background-color: #FFFFFF;
	padding-top: 20px;
	margin-bottom: 50px;
}

#quotes {
	width: 650px;
	background-color: #FFFFFF;
	padding-top: 75px;
	padding-left: 25px;
	height: 850px;
}

/* Portfolio------------------------------------------------------------------------*/
#portofolio_container {
	width: 850px;
	background-color: #FFFFFF;
	padding-top: 20px;
	margin-bottom: 50px;
}

#portfolio {
	width: 650px;
	background-color: #FFFFFF;
	padding-top: 75px;
	padding-left: 25px;
	height: 850px;
	margin-bottom: 50px;
}

/* Apparel Options ------------------------------------------------------------------------*/
#apparel_container {
	width: 850px;
	background-color: #FFFFFF;
	padding-top: 20px;
	margin-bottom: 50px;
}

#apparel_options {
	width: 650px;
	background-color: #FFFFFF;
	padding-top: 75px;
	padding-left: 25px;
	height: 850px;
	margin-bottom: 50px;
}

/* Screen Printing ------------------------------------------------------------------------*/
#screen_printing_container {
	width: 850px;
	background-color: #FFFFFF;
	padding-top: 20px;
	margin-bottom: 50px;
}

#screen_printing {
	width: 650px;
	background-color:#FFFFFF;
	padding-top:75px;
	padding-left: 25px;
	height: 850px;
	margin-bottom: 50px;
}

/* FAQ ------------------------------------------------------------------------*/
#FAQ_container {
	width: 850px;
	background-color: #FFFFFF;
	padding-top: 20px;
	margin-bottom: 50px;
}

#FAQ {
	width: 650px;
	background-color:#FFFFFF;
	padding-top:75px;
	padding-left: 25px;
	height: 850px;
	margin-bottom: 50px;
}

/* Contact Us ------------------------------------------------------------------------*/
#contact_us_container {
	width: 850px;
	background-color: #FFFFFF;
	padding-top: 20px;
	margin-bottom: 50px;
}

#contact_us {
	width: 650px;
	background-color:#FFFFFF;
	padding-top:75px;
	padding-left: 25px;
	height: 850px;
	margin-bottom: 50px;
}

/* What's New ------------------------------------------------------------------------*/
#whats_new_container {
	width: 850px;
	background-color: #FFFFFF;
	padding-top: 20px;
	margin-bottom: 50px;
}

#whats_new {
	width: 650px;
	background-color:#FFFFFF;
	padding-top:75px;
	padding-left: 25px;
	height: 850px;
	margin-bottom: 50px;
}

/* Facility ------------------------------------------------------------------------*/
#facility_container {
	width: 850px;
	background-color: #FFFFFF;
	padding-top: 20px;
	margin-bottom: 50px;
}

#facility {
	width: 650px;
	background-color:#FFFFFF;
	padding-top:75px;
	padding-left: 25px;
	height: 850px;
	margin-bottom: 50px;
}

/* Footer------------------------------------------------------------------------*/
#footer{
	padding-top:5px;
	border-top-width:1px;
	border-top-color:#CCCCCC;
	border-top-style:dashed;
	margin-bottom:5px;
}
